<div>
    <p>Test de la vue Account</p>
    <p><%= name %></p>
    <p>address : <%= address %></p>

    <p><%= un_obj.un_truc %></p>

    <p><%= un_obj.un_truc %></p>

    <p><%= mon_tableau_simple[0] %></p>
    <p><%= mon_tableau_simple[1] %></p>

    <p><%= mon_tableau_js[0].champ_1 %></p>

</div>